/* Fonts */

@import url(http://fonts.googleapis.com/css?family=Quicksand);

h1, h2, h3, h4, h5, h6,
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	font-family: 'Quicksand', sans-serif;
}

p, a {
	font-family: Helvetica, sans-serif;
}

h1 {
	font-size: 2.5em;
	line-height: 1em;
}

h2 {
	font-size: 1.5em;
	line-height: 1em;
}

/* General styles */

.breadcrumb {
	margin: 10px 0;
}

/* Navigation bar */

#navbar .language-switcher-locale-url {
    float: right;
    list-style-type: none;
    padding: 10px 15px 0 0;
}

#navbar .language-switcher-locale-url > li {
    display: inline-block;
    padding-right: 5px;
}

#navbar .language-switcher-locale-url a {
    color: #999;
}

#navbar .language-switcher-locale-url a:hover {
    color: #fff;
    text-decoration: none;
}

/* Main navigation tabs */

ul.nav.nav-tabs {
	border-bottom: 1px solid #ddd;	
}

/* Dashboard menu */

#block-menu-ed-dashboard-menu ul.menu > li {
    display: inline-block;
    list-style-type: none; 
}

/* Main index */

#intro {
	width: 100%;
	height: 350px;
}

#intro img {
	float: left;
	width: 780px;
	height: 350px;
}

#intro-text {
	font-family: 'Quicksand', sans-serif;
	float: right;
	width: 350px;
	height: 310px;
	background-color: #d3a44a;
	color: #fff;
	padding: 20px;
}

#tour {
	font-family: 'Quicksand', sans-serif;
	width: 390px;
	float: right;
	background-color: #85dcc3;
	color: #fff;
}

#tour h2, #tour p {
	padding: 0px 20px;
}

#latest-content {
	float: left;
	width: 740px;
	padding: 0px 20px;
}

#latest-content > div {
    float: left;
    width: 33%;
}

#latest-content .field-name-ed-field-excerpt {
	font-size: 14px;
	line-height: 20px;
}

/* Files page */
.ed-file-icon {
    display: inline-block;
    height: 16px;
    width: 16px;
}

.ed-file-icon-folder {
    background-image: url('../images/icons/folder.png');
}

.ed-file-icon-txt {
    background-image: url('../images/icons/txt.png');
}

/* General styles for pages */

.submitted {
	margin-top: 10px;
}

/* Two column pages */

div.panel-col-first {
	width: 740px !important;
	padding: 0px 20px;
}

div.panel-col-last {
	background: #e9e4dd;
	width: 350px !important;
	padding: 0px 20px;
}

/* Events */

.field-name-ed-field-excerpt {
	font-size: 24px;
	font-style: normal;
	line-height: 36px;
	margin: 20px 0 30px 0;
}

.field-name-ed-field-content p {
	font-size: 18px;
	line-height: 26px;
	color: #888888;
}


/* Footer */

#footer {
	border-top: 1px solid #ddd;
	background-color: #f0f0f0;
	padding-top: 20px;
	width: 100%;
	font-family: 'Quicksand', sans-serif;
}

#footer .footer-links a {
	color: #777;
	padding-right: 10px;
	font-family: 'Quicksand', sans-serif;
}

#footer .container {
	background-color: #f0f0f0;
	padding-bottom: 20px;
}

/* Maintenance mode public view */

body.maintenance-page {
	font-family: Helvetica, Arial;
	background: url(../images/maintenance_mode_bg.png) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

body.maintenance-page #page {
	margin-top: 25%;
	padding: 20px;
	background: #1f1f1f;
	width: 700px ;
	margin-left: auto ;
	margin-right: auto ;
	vertical-align:middle;
	border: 10px solid #49a38d;
	color: #b8b8b8;
}

body.maintenance-page h1#site-name a {
	color: #dcdcdc;
	text-decoration: none;
}

body.maintenance-page h1.title {
	font-size: 2em;
}
