/* Fonts */

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400);

h1, h2, h3, h4, h5, h6,
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	font-family: 'Open Sans', Helvetica, sans-serif;
}

p, a {
	font-family: 'Open Sans', Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: normal;
	line-height: 22px;
}

h1 {
	font-size: 2.5em;
	line-height: 1em;
	font-weight: 300;
}

h2, h2 a {
	font-size: 1.5em;
	line-height: 1em;
	font-weight: 300;
}

/* General styles */

.breadcrumb {
	margin: 10px 0;
}

.container h1 {
	padding-top: 10px;
}

/* Navigation bar */

#navbar .language-switcher-locale-url {
    float: right;
    list-style-type: none;
    padding: 10px 15px 0 0;
}

#navbar .language-switcher-locale-url > li {
    display: inline-block;
    padding-right: 5px;
}

#navbar .language-switcher-locale-url a {
    color: #999;
}

#navbar .language-switcher-locale-url a:hover {
    color: #fff;
    text-decoration: none;
}

/* Main navigation tabs */

ul.nav.nav-tabs {
	border-bottom: 1px solid #ddd;	
}

/* Dashboard menu */

#block-menu-ed-dashboard-menu ul.menu > li {
    display: inline-block;
    list-style-type: none; 
}

#block-menu-ed-dashboard-menu ul.menu {
	margin-left: 0px;
}

#block-menu-ed-dashboard-menu ul.menu li:first-child {
	margin-left: 0px;
}


/* Main index */

#intro {
	width: 100%;
	height: 350px;
}

#intro #img {
	float: left;
	width: 620px;
	height: 350px;
	background: url("../images/intro_bg.png") no-repeat -300px -200px fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#intro-text {
	font-family: 'Open Sans', sans-serif;
	float: right;
	width: 280px;
	height: 310px;
	background-color: #ededf0;
	color: #454545;
	padding: 20px;
}

#tour {
	font-family: 'Open Sans', sans-serif;
	width: 390px;
	float: right;
	background-color: #85dcc3;
	color: #fff;
}

#tour h2, #tour p {
	padding: 0px 20px;
}

#latest-content {
	float: left;
	width: 940px;
}

#latest-content > div {
    float: left;
    width: 310px;
}

#latest-content > div:last-child {
	width: 320px;
}

#latest-content > div:nth-child(odd) {
	background-color: #fff;
}

#latest-content > div:nth-child(even) {
    background-color: #f0f0f0;
}

#latest-content h1 {
    color: #fff;
    margin: 0;
    padding: 10px;
}

#latest-content > div:nth-child(odd) > h1 {
    background-color: #56ae48;
}

#latest-content > div:nth-child(even) > h1{
    background-color: #11bee8;
}

#latest-content > div:last-child > h1{
    background-color: #ded20c;
}

#latest-content > div > div.node {
    padding: 10px;
}

#latest-content .field-name-ed-field-excerpt {
	font-size: 14px;
	line-height: 20px;
}

/* Files page */

.ed-file-icon {
    display: inline-block;
    height: 16px;
    width: 16px;
}

.ed-file-icon-folder {
    background-image: url('../images/icons/folder.png');
}

.ed-file-icon-txt {
    background-image: url('../images/icons/txt.png');
}

/* General styles for pages */

.submitted {
	margin-top: 10px;
}

/* Comments */

.comment-wrapper, .pane-node-comment-form {
	background: #eee;
	padding: 10px;
}

/* Two column pages */

div.panel-col-first {
	padding: 0px 20px;
}

div.panel-col-last {

	width: 300px !important;
	padding: 0px 20px;

	border-top: none;
	float: right !important;
}

div.panel-col-last ul {
	margin-left: 10px;
}

div.panel-col-last ul li {
	list-style: none;
}

div.panel-col-last a {
	color: #737373;
	text-decoration: none;
}

div.panel-col-last a:hover {
	color: #08C;
}

/* Events */

.field-name-ed-field-excerpt {
	font-size: 24px;
	font-style: normal;
	line-height: 36px;
	margin: 20px 0 30px 0;
}

.field-name-ed-field-content p {
	font-size: 18px;
	line-height: 26px;
	color: #888888;
}

/* Table Styles */

table {
  border: 0;
  border-spacing: 0;
  font-size: 0.857em;
  margin: 10px 0;
  width: 100%;
}
table table {
  font-size: 1em;
}
#footer-wrapper table {
  font-size: 1em;
}
table tr th {
  background: #757575;
  background: rgba(0, 0, 0, 0.51);
  border-bottom-style: none;
}
table tr th,
table tr th a,
table tr th a:hover {
  color: #FFF;
  font-weight: bold;
}
table tbody tr th {
  vertical-align: top;
}
tr td,
tr th {
  padding: 4px 9px;
  border: 1px solid #fff;
  text-align: left; /* LTR */
}
#footer-wrapper tr td,
#footer-wrapper tr th {
  border-color: #555;
  border-color: rgba(255, 255, 255, 0.18);
}
tr.odd {
  background: #e4e4e4;
  background: rgba(0, 0, 0, 0.105);
}
tr,
tr.even {
  background: #efefef;
  background: rgba(0, 0, 0, 0.063);
}
table ul.links {
  margin: 0;
  padding: 0;
  font-size: 1em;
}
table ul.links li {
  padding: 0 1em 0 0;
}

/* Buttons */

.answer {
	-webkit-border-radius: 3px;
	border-radius: 3px;
	background-color: #5da423;
	border-color: #457a1a;
	color: white;
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
	-webkit-transition: background-color 300ms ease-out;
	-moz-transition: background-color 300ms ease-out;
	transition: background-color 300ms ease-out;
	border-style: solid;
	border-width: 1px;
	cursor: pointer;
	font-family: inherit;
	font-weight: bold;
	line-height: 1;
	margin: 0 0 1.25em;
	position: relative;
	text-decoration: none;
	text-align: center;
}

.answer:hover {
	background: #457a1a;
}

.answer a {
	color: #fff;
}

/* Footer */

#footer {
	border-top: 1px solid #ddd;
	background-color: #1b1b1b;
	padding-top: 20px;
	width: 100%;
	font-family: 'Open Sans', sans-serif;
}

#footer .footer-links a {
	color: #777;
	padding-right: 10px;
	font-family: 'Open Sans', sans-serif;
}

#footer .container {
	background-color: #1b1b1b;
	padding-bottom: 20px;
}

/* Maintenance mode public view */

body.maintenance-page {
	font-family: Helvetica, Arial;
	background: url(../images/maintenance_mode_bg.png) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

body.maintenance-page #page {
	margin-top: 25%;
	padding: 20px;
	background: #1f1f1f;
	width: 700px ;
	margin-left: auto ;
	margin-right: auto ;
	vertical-align:middle;
	border: 10px solid #49a38d;
	color: #b8b8b8;
}

body.maintenance-page h1#site-name a {
	color: #dcdcdc;
	text-decoration: none;
}

body.maintenance-page h1.title {
	font-size: 2em;
}

/* Responsive */

@media (max-width: 1200px) {

	#intro {
		width: 100%;
		height: 247px;
		background: #d3a44a;
	}

	#intro img {
		float: left;
		width: 100%;
		height: 247px;
		
	}
	
	#intro-text {
		display: none;	
	}
	
	#intro-text h1 {
		font-size: 1.8em;
		line-height: 0.5em;
	}
	
	#intro-text p {
		font-size: 12px;
	}
	
	#latest-content {
		float: left;
		width: 940px;
	}
}

@media (max-width: 979px) {
	#latest-content {
		float: left;
		width: auto;
	}
	
	#latest-content div {
		width: 100% !important;

	}
	
	#latest-content > div:nth-child(even) {
    background-color: white;
}
}