/* CSS reset */

html,body,div,span,applet,object,iframe,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,label,legend,p,blockquote,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;}body{line-height:1;color:black;background:white;}:focus{outline:0;}table{border-collapse:collapse;border-spacing:0;}caption,th,td{text-align:left;font-weight:normal;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}ol,ul{list-style:none;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}blockquote:before,blockquote:after,q:before,q:after{content:"";}blockquote,q{quotes:"" "";}abbr,acronym{border:0;}

/* Fonts */

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400);

#main {
	font-family: 'Open Sans', Helvetica, sans-serif;
	font-weight: 300;
}

h1, h2, h3, h4, h5, h6,
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	font-family: 'Open Sans', Helvetica, sans-serif;
}

p, a {
	font-family: 'Open Sans', Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	line-height: 22px;
}

strong {
	font-weight: bold;
}

em {
	font-style: italic;
}

.content ul {
	margin: 10px 0 10px 20px;
	list-style: disc;
	font-size: 14px;
	color: #555;
}

.content ol {
	margin: 10px 0 10px 20px;
	list-style: decimal;
	font-size: 14px;
	color: #555;
}

h1 {
	font-size: 2.5em;
	line-height: 1em;
	font-weight: 300;
	margin: 20px 0;
}

h2, h2 a {
	font-weight: 300;
	font-size: 36px;
}

.field-name-ed-field-content ul {
	margin-left: 20px;
	list-style: disc;
}

.content h2,
.content h2 a {
	font-size: 26px;
	margin-bottom: 10px;
	font-weight: 300;
}

.submitted span, .submitted span a {
	font-size: 12px;
	font-weight: 300;
}

/* General styles */

.breadcrumb {
	padding: 8px 15px;
	margin-bottom: 20px;
	list-style: none;
	background-color: #f5f5f5;
	border-radius: 4px;
	font-size: 14px;
}

.container h1 {
	padding-top: 10px;
}

.ed-add-new-node {
	height: 30px;
}

.ed-add-new-node a {
	color: #fff;
	display: inline;
	padding: .2em .6em .3em;
	font-size: 75%;
	font-weight: bold;
	line-height: 1;
	color: #fff;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: .25em;
	background-color: #5cb85c;
}

dl {
	margin: 20px 0;
}

dd {
	margin-bottom: 20px;
}

.ed-node-mine { /* Content created by current user */
	background: #fcf8f2;
}

.ed-node-mine h2 a {
	color: #f0ad4e;
}

.node {
	padding: 10px;
	margin-bottom: 10px;
}

.nav-tabs>li>a {
	padding: 8px 8px;
	font-size: 12px;
}

.description {
	padding: 5px 0;
	color: #bcbcbc;
}

.form-item .description {
	font-size: 10px;
}

.field-tags a.badge {
	color: #fff;
	background: #428bca;
}

.field-tags a.badge:hover {
	color: #fff;
	background: #4d7faa;
}

/* Messages */

div.error {
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1;
	border-radius: 4px;
}

div.status {
	color: #3c763d;
	background-color: #dff0d8;
	border-color: #d6e9c6;
}

/* Navigation bar */

a.brand {
	font-weight: 100 !important;
}

.brand-avatar {
	padding-right: 0px !important;
}

.brand-avatar img {
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
	margin-left: 20px;
}

#navbar .nav-collapse ul li a {
	font-size: 12px;
}

#navbar .language-switcher-locale-url {
    float: right;
    list-style-type: none;
    padding: 10px 15px 0 0;
}

#navbar .language-switcher-locale-url > li {
    display: inline-block;
    padding-right: 5px;
}

#navbar .language-switcher-locale-url a {
    color: #999;
    font-size: 12px;
}

#navbar .language-switcher-locale-url a:hover {
    color: #fff;
    text-decoration: none;
}

#navbar .language-switcher-locale-url > li a img {
    -webkit-filter: grayscale(100%);
       -moz-filter: grayscale(100%);
         -o-filter: grayscale(100%);
        -ms-filter: grayscale(100%);
            filter: grayscale(100%);
}

#navbar .language-switcher-locale-url > li.active a img {
    -webkit-filter: none;
       -moz-filter: none;
         -o-filter: none;
        -ms-filter: none;
            filter: none;
}

/* Main navigation tabs */

ul.nav.nav-tabs {
	border-bottom: 1px solid #ddd;
	margin-bottom: 20px;
}

/* Dashboard */

ul.ed-group-latest-updates-listing, 
ul.ed-group-latest-updates-listing a,
ul.ed-shared-nodes-listing,
ul.ed-shared-nodes-listing a {
	font-size: 14px;
}

#block-menu-ed-dashboard-menu {
	padding-bottom: 20px;
}

#block-menu-ed-dashboard-menu ul.menu > li {
    display: inline-block;
    list-style-type: none; 
}

#block-menu-ed-dashboard-menu ul.menu, #block-menu-ed-dashboard-menu ul.menu li:first-child {
	margin-left: 0px;
}

.sticky-enabled.tableheader-processed.sticky-table {
	display: table;
	font-size: 14px;
	line-height: 20px;
	max-width: 100%;
	margin-bottom: 20px;
}

.sticky-enabled.tableheader-processed.sticky-table thead tr th, tbody tr th {
	background: #fff;
	border: 1px solid #ddd;
	color: rgb(51, 51, 51);
	display: table-cell;
	line-height: 20px;
	padding: 8px;
}

.sticky-enabled.tableheader-processed.sticky-table tr.odd {
	background: #f9f9f9;
	height: 36px;
}

.sticky-enabled.tableheader-processed.sticky-table tr.even {
	background: #fff;
	height: 36px;
}

/* Dashboard learning analytics */

.row {
	margin-left: 0;
}

/* Main index */

#intro {
	width:100% !important;
	height:auto;
	max-height: 300px;
	margin: 0 auto;
	position: absolute;
	top: 40px;
	right: 0px;
	z-index: -99;
}

#intro #img {
	float: left;
	width:100%;
	height:340px;
	background: url("../images/intro_bg.png") no-repeat -300px -200px fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#latest-content {
	float: left;
	width: 940px;
	padding-top: 150px;
}

#latest-content > div {
    float: left;
    width: 310px;
}

#latest-content > div:last-child {
	width: 320px;
}

#latest-content > div:nth-child(odd) {
	background-color: #fff;
}

#latest-content > div:nth-child(even) {
    background-color: #f0f0f0;
}

#latest-content h1 {
    color: #fff;
    margin: 0;
    padding: 10px;
}

#latest-content h2 {
	line-height: 30px;
}

#latest-content > div:nth-child(odd) > h1 {
    background-color: #56ae48;
}

#latest-content > div:nth-child(even) > h1{
    background-color: #11bee8;
}

#latest-content > div:last-child > h1{
    background-color: #ded20c;
}

#latest-content > div > div.node {
    padding: 10px;
}

#latest-content .field-name-ed-field-excerpt {
	font-size: 14px;
	line-height: 20px;
}

/* Files page */

.ed-file-icon {
    display: inline-block;
    height: 16px;
    width: 16px;
}

.ed-file-icon-folder {
    background-image: url('../images/icons/folder.png');
}

.ed-file-icon-txt {
    background-image: url('../images/icons/txt.png');
}

/* General styles for pages */

.submitted {
	margin-top: 10px;
	display: none; /* xxx */
}

/* Sorting for lists */

#-ed-get-sorting-options {
	height: 50px;
	margin-top: 10px;
}

#-ed-get-sorting-options .form-item {
	float: left;
	margin: 0 10px 0px 0;
}

/* Comments */

.comment-wrapper, .pane-node-comment-form {
	border-top: 1px solid #e3e3e3;
	padding: 10px;
}

.comment .user-picture img {
	float: left;
	padding-right: 10px;
	padding-bottom: 10px;
	width: 75px;
	height: 75px;
	border-radius: 50px 50px 0px 50px;
}

.comment h3, .comment .submitted, .comment .content, .comment span.new {
	margin: 0px 0px 0px 100px
}

.comment ul.links.inline {
	margin: 0px 0px 20px 100px
	
}

.comment ul.links.inline li a {
	color: #cecece;
}

.comment ul.links.inline li a:hover {
	color: gray;
}

.indented {
	margin-left: 100px;
}

/* Two column pages */

div.panel-col-first {
	padding: 0px 20px;
	width: 550px !important;
}

div.panel-col-last {
	width: 300px !important;
	padding: 0px 20px;
	border-top: none;
	float: right !important;
}

div.panel-col-last ul {
	margin-left: 0px;
}

div.panel-col-last ul li {
	list-style: none;
	background: #f9f9f9;
	border-bottom: solid 1px #eee;
	line-height: 22px;
	color: #777; 
	padding-left: 15px;
	line-height: 30px;
}

div.panel-col-last ul li:hover {
	background: #fff;
}

div.panel-col-last h2 {
	background: linear-gradient(to bottom,#f7f7f7 0%,#ededed 100%);
	border-bottom: solid 1px #e3e3e3;
	font-size: 12px;
	font-weight: bold;
	color: #5A5E66;
	padding: 10px 16px;
	line-height: 20px;
}

div.panel-col-last a {
	color: #777;
	text-decoration: none;
}

div.panel-col-last a:hover {
	color: #08C;
}

div.panel-col-last .pane-content {
	padding: 5px 16px;
	font-size: 14px;
	color: #777;
	background: #f9f9f9;
}

.field-name-ed-field-excerpt {
	font-size: 14px;
	font-style: normal;
	line-height: 22px;
	font-weight: thin;
	color: #000;
}

.field-name-ed-field-content p {
	font-size: 14px;
	color: #555;
}

/* Events */

.eventCalendar-wrap {
	box-shadow: none;
	border-radius: 0;
}

.field-type-datestamp legend {
	background: #fcf6e4;
	padding-left: 10px;
}

/* Portfolio */

.node-type-ed-portfolio {
	background: red;
	background: white url("../images/portfolio_bg.jpg") no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.node-type-ed-portfolio .content {
	background: white;
	padding-top: 20px;
}

.node-type-ed-portfolio .nav-tabs {
	margin-bottom: 0px !important;
}

.node-type-ed-portfolio .nav-tabs>li>a, .node-type-ed-portfolio .nav-tabs>li>a:hover {
	border: none;
}

.node-type-ed-portfolio .nav-tabs li {
	background: #efefef;
}

.field-name-ed-portfolio-field-items > ul {
	width: 42%;
}

ul.entityreference-dragdrop {
	margin-right: 0;
}

ul.entityreference-dragdrop-selected {
	background: #eee url('../images/drag_here_icon.png') 40% 50% no-repeat;
}

ul.entityreference-dragdrop li {
	width: auto;
}

.field-widget-entityreference-dragdrop {
	margin-top: 20px;
}

/* Learning Resources */

#ed-learning-resource-listing .form-item {
	width: 230px;
	margin: 0;
	float: left;
}

#ed-learning-resource-listing #edit-content-submit {
	clear: right;
	margin: 5px 0 20px 0;
	height: 30px;
}

.rounded-corner .wrap-corner .l, 
.rounded-corner .wrap-corner .r {
	background: none;
}

.rounded-corner .t-edge, 
.rounded-corner .l-edge,
.rounded-corner .r-edge,
.rounded-corner .b-edge {
	background: none;
}

.rounded-corner .field-label {
	font-weight: 300;
	font-size: 26px;
	font-family: 'Open Sans', Helvetica, sans-serif;
	width: 245px;
	padding-bottom: 20px;
}

#edit-content-submit {
	position: relative;
	top: -5px;
}

/* Tasks */

#ed-task-due-date-add-more-wrapper {
	background: #f2dede;
	padding: 5px;
	color: #A94442;
	border-radius: .25em;
	border: 1px solid #ebccd1;
}

.pane-node-ed-task-due-date  {
	background: #f2dede !important;
}

.ed-task-unanswered {
	color: red;
}

.ed-task-answered {
	color: green;
}

/* Group pages */

.ed-group-private {
	border-left: 2px solid red;
	background: #fdf7f7 url('../images/icons/lock.png') 97% 10% no-repeat;
}

.ed-group-private h2 a {
	color: #a94442;
}

h2.ed_event, h2.ed_news, h2.ed_learning_resource, h2.ed_forum,
h2.ed_blog, h2.ed_bookmark, h2.ed_page, h2.ed_file {
	background: #d9edf7;
	padding: 5px;
	margin: 30px 0px;
	color: #31708f;
	border: 1px solid #bce8f1;
}

.view-id-og_nodes .submitted {
	display: none;
}

.pane-node-ed-cluster-content .node {
	background: #fff;
	padding-left: 5px !important; 
}

.pane-node-ed-cluster-content h2, .pane-node-ed-cluster-content h2 a {
	font-size: 16px;
	margin-bottom: 0px;
}

.node-teaser h2 {
	margin-bottom: 0px;
}

.field-name-group-group {
	font-size: 14px;
	color: #f0ad4e;
	margin-bottom: 5px;
}

/* Table Styles */

table {
  border: 0;
  border-spacing: 0;
  font-size: 0.857em;
  margin: 10px 0;
  width: 100%;
}

table table {
  font-size: 1em;
}

#footer-wrapper table {
  font-size: 1em;
}

table tr th,
table tr th a,
table tr th a:hover {
  font-weight: bold;
}

table tbody tr th {
  vertical-align: top;
}

tr td,
tr th {
  padding: 4px 9px;
  border: 1px solid #fff;
  text-align: left; /* LTR */
}

#footer-wrapper tr td,
#footer-wrapper tr th {
  border-color: #555;
  border-color: rgba(255, 255, 255, 0.18);
}

tr.odd {
  background: #e4e4e4;
  background: rgba(0, 0, 0, 0.105);
}

tr,
tr.even {
  background: #efefef;
  background: rgba(0, 0, 0, 0.063);
}

table ul.links {
  margin: 0;
  padding: 0;
  font-size: 1em;
}

table ul.links li {
  padding: 0 1em 0 0;
}

/* Buttons */

.answer {
	padding: .2em .6em .3em;
	font-size: 75%;
	font-weight: bold;
	line-height: 1;
	color: #fff;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: .25em;
	background-color: #5cb85c
}

.answer:hover {
	background: #457a1a;
}

.answer .form-item.form-type-item a {
	color: #fff;
}

/* Profile page */

.page-user .profile {
	text-align: center;
	background: #f2f2f2;
	width: 400px;
	padding-bottom: 20px;
	border-top: 2px solid #cccccc;
}

.profile .user-picture {
	float: none;
	position: relative;
	top: -10px;
	margin: 0 auto;
}

.profile .user-picture img {
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
	border: 2px solid #ccc;
	padding: 5px;
	background: #fff;
}

.profile .field {
	padding-bottom: 20px;
}

.profile .field-label {
	font-size: 20px;
	font-weight: normal;
	line-height: 24px;
}

.page-user .profile .field-item, 
.page-user .profile .field-item a, 
.page-user .profile dd {
	font-size: 12px;
}

.page-user .profile dt {
	font-size: 20px;
	font-weight: normal;
}

/* Footer */

#footer {
	border-top: 1px solid #ddd;
	background-color: rgb(53, 57, 63);
	padding-top: 20px;
	margin-top: 30px;
	width: 100%;
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	color: rgba(181,181,181,1);
	font-family: "Gill Sans", Calibri, "Trebuchet MS", sans-serif;
}

#footer .footer-links a {
	color: rgba(181,181,181,1);
	padding-right: 10px;
	font-family: "Gill Sans", Calibri, "Trebuchet MS", sans-serif;
	font-size: 13px;
}

#footer .footer-links a:hover {
	color: #fff;
	text-decoration: none;
}

#footer .footer-links img {
	position: relative;
	top: 3px;
}

#footer .container {
	background-color: rgb(53, 57, 63);
	padding-bottom: 20px;
}

/* Maintenance mode public view */

body.maintenance-page {
	font-family: Helvetica, Arial;
	background: url(../images/maintenance_mode_bg.png) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

body.maintenance-page #page {
	margin-top: 25%;
	padding: 20px;
	background: #1f1f1f;
	width: 700px ;
	margin-left: auto ;
	margin-right: auto ;
	vertical-align:middle;
	border: 10px solid #49a38d;
	color: #b8b8b8;
}

body.maintenance-page h1#site-name a {
	color: #dcdcdc;
	text-decoration: none;
}

body.maintenance-page h1.title {
	font-size: 2em;
}

/* Varia, xxx */

.messages.warning {
	display: none;
}

/* TinyMCE */

body#tinymce ul {
	margin-left: 20px;
	list-style: disc;
	font-size: 14px;
}

body#tinymce ol {
	margin-left: 20px;
	list-style: decimal;
}

/* Statistics */

.ed-node-statistics {
	color: #000;
}

.ed-node-statistics i {
	margin-right: 10px;
}

.ed-node-statistics .ed-node-statistics-likes i {
	color: #c6456f;
}

.ed-node-statistics .ed-node-statistics-likes a:hover i {
	color: #0088cc;
}

/* Responsive */


@media (max-width: 979px) {

	#intro {
		width: 100%;
		height: 147px;
		background: #fff;
	}

	#intro #img {
		float: left;
		width: 100%;
		height: 147px;
	}

	#latest-content {
		float: left;
		width: auto;
		padding-top: 100px;
	}
	
	#latest-content div {
		width: 100% !important;

	}
	
	#latest-content > div:nth-child(even) {
    background-color: white;
}
}