/* dropdown */

.ed_we_dropdown_head {
	position:relative;
}

.ed_we_dropdown_head:before {
	position:absolute;
	right:0px;
	top:0px;
	height:20px;
	width:20px;
	padding:10px;
	text-align:center;
	content:"▼";
}

[ed_we_checked].ed_we_dropdown_head:before {
	content:"-";
}

.ed_we_dropdown_head:hover:before {
	background-color:rgba(255,255,255,0.5);
}

.ed_we_dropdown_body {
	transition: height 0.3s, opacity 0.3s;
	overflow:hidden;
}

[ed_we_dropdown_hidden] {
	height:0 !important;
	opacity:0;
}

/* averaging table */

.ed_we_at_hidden {
	opacity: 0;
}

.ed_we_at_cell {
	background-color:rgba(0,0,0,0.2);
	color:white;
}