// Default variables.
@import 'default-variables';

// Bootstrap Framework.
@import '../bootstrap/assets/stylesheets/bootstrap';

// Base-theme overrides.
@import 'overrides';


@import '../custom_styles/owl.carousel.min.css';
//Importing css files does not preserve the order, so they are changed to scss
@import "../custom_styles/style";
@import"../custom_styles/custom";



/*
==========================================================================
style.scss
==========================================================================
*/
.search-block__form input{
  border: 1px solid #eeeeee;
  height: 38px;
  width: 233px;
  padding: 5px 19px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  box-shadow: none;
  -webkit-box-shadow: none;
}

.info-box-02__box-01 ul.dropdown-menu{
  left: auto;
}

.contact-block-01__email{
  padding-right: 25px;
}
.contact-block-01__email.faq::before{
  content: '\f059';
}

.contact-block-01__email.privacy::before{
  content: '\f21b';
}

.contact-block-01__email.user::before{
  content: '\f007';
}

.contact-block-01__email.logout::before{
  content: '\f08b';

}

.contact-block-01__email.login::before{
  content: '\f090';

}

@media only screen and (max-width: 1199px) {
  .search-block__form input {
    -webkit-border-radius: 0;
    border-radius: 0;
  }
}



.content-box-03.support{
  background-color: #ffffff;
  background: none;

}

.new-group-buttons{
  display: inline-flex;
  margin-top: 10px;

}

.btn.new-group{
  margin-right: 10px;
}

.page-clusters .item-info__text-01::before {

  content: none;
}

.page-clusters .item-info__text-01{
  padding-left: 0px;
}

.item-info__text-01 img{
  height: 30px;
  margin: 0 5px 5px 0;
}


.product-list__item-info {
  text-align: center;
}

.new-group.price-btn{
  padding: 6px 12px;
}


.product-list__content.admins{
  border-top: none;
}


.item-info__text-01 img{
  height: 30px;
  width: 30px;
  border-radius: 20px;
  margin: 1px;
}

.price-btn:hover {
  background: transparent;
  color: #1abc9c;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  border-color: initial;
}

.price-btn.leave-group{
  background-color: $btn-warning-bg;
  border-color: $btn-warning-border;
}



